/* CSS code for the boys  */
/* unorderd list  */
body{
    margin: 0px;
}

ul {
    list-style: none
}

ul li{
    display: inline-block; 
    height: 30px;
    padding: 5px 5px 5px 5px;
    background-color: #10243B;
    color: white;
    text-transform: uppercase;
    border: #10243B;
}

div img{
    display: inline-block;
    height: 40px;
    width: 40px;
}

#ul-1{
font-weight: bold;
display: inline-block;
padding: 5px 5px 5px 5px;
float: left;
margin-top: 9px;
}
<<<<<<< HEAD

#ul-2{
display: inline-block;
float: right;
padding: 5px 5px 5px 5px;
margin-top: 4px;
}

=======


#ul-2{
display: inline-block;
float: right;
padding: 5px 5px 5px 5px;
margin-top: 4px;
}

>>>>>>> 6877f4ed2a1b1a6f6f70c820bd859224af6e4767

nav {
    margin: 0px;
    background-color:#10243B;
    height: 30px;
    border: 4px;
    border: #10243B;
    block-size: 50px;
    padding: 12px;
}

#lightblue1{
    background-color: #005983;
    height: 16px;
}

#lightblue2{
background-color: #005983;
}

.search{
height: 15px;
width: 15px;
<<<<<<< HEAD
}


#fans{
height:925px ;
}

#explore{
    
    text-transform: uppercase;
    display: inline;
    float: left;
    padding-left: 700px;
    padding-right: 70000px;
    background-color: #10243B;
    color: white;
}

=======

}
>>>>>>> 6877f4ed2a1b1a6f6f70c820bd859224af6e4767
